.popup .popup__content.withdraw-tmpl {
    padding: 30px 30px 30px 20px;
    align-items: unset;
    width: 391px;
}

.popup__value__input-area {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.withdraw-area__input {
    margin-top: 20px;
    height: 45px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .05);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.withdraw-area__add-max {
    margin-left: 15px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.withdraw-area__add-max__text {
    font-size: 14px;
    margin-left: 8px;
    font-weight: bold;
    color: #0bccf7;
}

.withdraw-area__input__elem {
    background: rgba(255, 255, 255, 0);
    border: none;
    font-size: 24px;
    resize: none;
    color: #0bccf7;
    height: 100%;
    padding: 0;
    border-radius: 10px;
    padding: 8px;
    width: 265px;
}

.withdraw-area__input__elem:focus {
    outline-width: 0;
    color: #0bccf7;
}

.withdraw-area__input__elem::placeholder {
    color: #0bccf7;
}

.withdraw-area__input__text {
    margin-right: 15px;
    font-size: 16px;
    color: #ffffff;
}

.withdraw-area__rate {
    margin-left: 8px;
    margin-top: 4px;
    opacity: 0.5;
    font-size: 12px;
    color: #ffffff;
}

.withdraw-area__fee {
    margin-top: 20px;
    margin-left: 8px;
    display: flex;
    flex-direction: row;
}

.withdraw-area__fee__title {
    opacity: 0.5;
    font-size: 12px;
    color: #ffffff;
}

.withdraw-area__fee__value {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.withdraw-area__fee__value__beam {
    font-size: 14px;
    font-weight: 500;
    color: #0bccf7;
}

.withdraw-area__fee__value__rate {
    opacity: 0.5;
    font-size: 12px;
    color: #ffffff;
}

.withdraw-area__controls {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.withdraw-area__controls__withdraw {
    background-color: #0bccf7;
    margin-left: 30px;
}

.ivalid-state-message {
    font-size: 12px;
    font-style: italic;
    color: #ff746b;
    margin-left: 15px;
    margin-top: 5px;
}