.popup .popup__content.deposit-tmpl {
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 745px;
}

.deposit-area {
    display: flex;
    flex-direction: column;
    width: 371px;
    border-radius: 10px;
    padding: 20px 20px 24px 10px;
    background-color: rgba(255, 255, 255, .1);
}

.calc-area {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 30px 30px;
}

.area-header {
    display: flex;
    align-self: center;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

.deposit-area__input {
    margin-top: 20px;
    height: 45px;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .05);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.deposit-area__input__elem {
    background: rgba(255, 255, 255, 0);
    border: none;
    font-size: 24px;
    resize: none;
    color: #da68f5;
    height: 100%;
    padding: 0;
    border-radius: 10px;
    padding: 8px;
    max-width: 292px;
}

.deposit-area__input__elem:focus {
    outline-width: 0;
    color: #da68f5;
}

.deposit-area__input__elem::placeholder {
    color: #da68f5;
}

.deposit-area__input__text {
    margin-right: 8px;
    font-size: 16px;
    color: #ffffff;
}

.deposit-area__rate {
    margin-left: 8px;
    margin-top: 4px;
    opacity: 0.5;
    font-size: 12px;
    color: #ffffff;
}

.deposit-area__fee {
    margin-top: 20px;
    margin-left: 8px;
    display: flex;
    flex-direction: row;
}

.deposit-area__fee__title {
    opacity: 0.5;
    font-size: 12px;
    color: #ffffff;
}

.deposit-area__fee__value {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.deposit-area__fee__value__beam {
    font-size: 14px;
    font-weight: 500;
    color: #da68f5;
}

.deposit-area__fee__value__rate {
    opacity: 0.5;
    font-size: 12px;
    color: #ffffff;
}

.deposit-area__controls {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.deposit-area__controls__deposit {
    background-color: #da68f5;
    margin-left: 30px;
}

.calc-area__info {
    margin-top: 20px;
    opacity: 0.7;
    font-size: 14px;
    font-style: italic;
    color: #ffffff;
}

.calc-area__reward {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.calc-area-title {
    opacity: 0.5;
    font-size: 12px;
    color: #ffffff;
}

.calc-area-value {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}

.calc-area__reward__yearly,
.calc-area__reward__weekly {
    display: flex;
    flex-direction: column;
}

.calc-area__farming {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
}

.calc-area__farming__value {
    display: flex;
    flex-direction: row;
    margin-top: 4px;
    align-items: center;
}

.calc-area-icon {
    width: 24px;
    height: 24px;
}

.calc-area-estimation {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.switch {
    top: -2px;
    display: flex;
    align-items: center;
    place-self: flex-start;
    margin-top: 10px;
    height: 30px;
    line-height: normal;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    position: relative;
}
  
.switch__item {
    cursor: pointer;
    position: relative;
    display: block;
    float: left;
    padding: 0 14px;
    font-size: 14px;
    letter-spacing: 0.02px;
    color: rgba(255, 255, 255, .5);
}

.switch__usd.selected,
.switch__btc.selected {
    color: rgba(255, 255, 255, 0);
}

.selector {
    -webkit-transition: 300ms ease-in;
    -moz-transition: 300ms ease-in;
    transition: 300ms ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-sizing: border-box;
    height: 32px;
    text-align: center;
    cursor: default;
    border-radius: 16px;
    border: solid 1px #00f6d2;
    background-color: rgba(0, 252, 207, 0.1);
    font-size: 14px;
    color: #00f6d2;
    box-shadow: 0 0 2px rgba(0, 246, 210, 0.5);
    opacity: 1;
    left: -1px;
    width: 71px;
}