@import './fonts/fonts.css';

body {
    font-family: 'SFProDisplay', sans-serif;
    font-weight: normal;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    width: 580px;
    height: 295px;
    margin: 60px auto;
    border-radius: 10px;
    background-image: linear-gradient(115deg, rgba(11, 204, 247, .1) 1%, rgba(255, 255, 255, .1) 97%);
    align-items: center;
}

.container__text {
    font-size: 24px;
    font-style: italic;
    color: #ffffff;
    margin-top: 50px
}

.container__placeholder {
    margin-top: 40px;
    width: 245px;
    height: 140px;
}